:root {
    --primary-color: #1d1b1bc9;
    --text-color: #333;
    --color_bar: #fff;
    --color_high: white;
    --color_background: rgb(175, 159, 159);
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .music_player{
    display: flex;
    justify-content: center;
    background-color: #888887c2;
  }

  
  .player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    background-color: #fff;
    background-size: cover;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    z-index: 10;
  }

  .dashboard-cover{
    background-color: #1d1a1ac2;
    padding: 16px 16px 14px;
  }

  
  /* HEADER */
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  header h4 {
    color: #fff;
    font-size: 12px;
  }
  
  header h2 {
    color: #fff;
    font-size: 20px;
  }

  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
  }
  
  .control .btn {
    color:#fff;
    padding: 4px 10px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .control .btn.active {
    color: var(--primary-color);
    background-color:#fff;
    border-radius: 50%;
  }
  
  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #000000e0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
  }
  
  .progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #fff;
    cursor: pointer;
  }

  /* CD time*/
  .time{
    display: flex;
    justify-content: space-between;
    /* font-size: 1rem; */
    font-size: 15px;
    color: #fff;
    user-select: none;
    position: relative;
    top: -20px;
  }

  /* CD Volume*/
  .cd-volume{
    display: flex;
    justify-content: center;
    padding: 6px 42px 8px 0;
  }

  .cd-volume_icon{
    padding-right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
  }

  .cd-volume_icon .fa-volume-xmark{
    display:none;
  }

  .cd-volume_icon.active .fa-volume-xmark{
    display:inline-block;
  }

  .cd-volume_icon.active .fa-volume-high{
    display:none;
  }

  #volume-change_input{
    width: 150px;
    cursor: pointer;
  }

  /* Music love playlist*/
  .love_music{
    position: relative;
    top: -68px;
    left: 392px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
  }

  .love_music .fa-solid.fa-heart {
    display: none;
  }

  .love_music.active .fa-solid.fa-heart{
    display: inline;
  }
  .love_music.active .fa-regular.fa-heart{
    display: none;
  }
  .love_music-notice{
    font-size: 10px;
    /* background-color: #524d50; */
    animation: fadeIn linear 0.2s;
    display: inline-block;
    user-select: none;
  }
  .love_music-notice.add{
    position: relative;
    top: -70px;
    right: 30px;
    width: 96px;
    height: 18px;
    line-height: 18px;
    padding: 0px 5px;
    display:none;
  }
  .love_music-notice.remove {
    position: relative;
    top: -70px;
    right: 42px;
    width: 108px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    display: none;
  }
  .love_music .fa-regular:hover ~ .love_music-notice.add{
    display:inline-block;
  }
  .love_music .fa-solid:hover ~ .love_music-notice.remove {
    display:inline-block;
  }
  
  /* PLAYLIST */
  .playlist {
    margin-top: 498px;
    width: 480px;
    background-color: #292727d1;
    padding: 8px 6px 2px;
    border-radius: 6px;
}
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .song.active {
    background-color: var(--primary-color);
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }

  
  
  .song .title {
    font-size: 18px;
    color: var(--text-color);
    user-select: none;
  }
  
  .song .author {
    font-size: 12px;
    color: #999;
    user-select: none;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }
  #volume-change_input{
    -webkit-appearance: none;
    height: 0px;
    margin-top: 16px;
    color: #1f1f1f;
  }
  #volume-change_input:focus {
    outline: none;
  }
  #volume-change_input::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #ebe6e6e8;
    border-radius: 4px;
    border: 0px solid #000000;
  }
  #volume-change_input::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #aba9af;
    border: 1px solid #a3a2a2;
    height: 19px;
    width: 19px;
    border-radius: 20px;
    background: #1f1f1f;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  
  /* Spectrum */
  .song .spectrum div {
    display: none;
  }
  .song.active .spectrum div {
    display: block;
  }
  .spectrum {
  position: absolute;
  transform: translateY(-50%);
  right: 88px;
  }
.spectrum div, .spectrum div:before, .spectrum div:after {
  width: 9px;
  height: 3px;
  background: #fafdfd;
  position: relative;
  transform: translate(-11px, 5px);
  box-shadow: 0 -3px 0 #f0f3f3, 0 -6px 0 #f7f8f8, 0 -9px 0 #f5f9fa, 0 -12px 0 #eef1f1;
  animation-name: bar1;
  animation-duration: 0.3s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.spectrum div:before {
  content: '';
  position: absolute;
  transform: translate(11px, 0);
  box-shadow: 0 -3px 0 #fcfcfc;
  animation-name: bar2;
}

.spectrum div:after {
  content: '';
  position: absolute;
  transform: translate(22px, 0);
  box-shadow: 0 -3px 0 #f7f9fa, 0 -6px 0 #ebebeb, 0 -9px 0 #f2f3f3;
  animation-name: bar3;
}
.spectrum.active div, .spectrum.active div:before, .spectrum.active div:after {
  animation-play-state: running;
}
.spectrum.paused div, .spectrum.paused div:before, .spectrum.paused div:after {
  animation: none;
  box-shadow: 0 -3px 0 #fdfdfd;
}
@keyframes bar1 {
  0%, 19.9% {
      box-shadow: 0 -3px 0 #dae2e4, 0 -6px 0 #f1f6f7, 0 -9px 0 #fbfeff, 0 -12px 0 #cad2d3;
  }

  20%, 39.9% {
      box-shadow: 0 -3px 0 #e2e8e9, 0 -6px 0 #bbbebe, 0 -9px 0 #e8edee;
  }

  40%, 59.9% {
      box-shadow: 0 -3px 0 #f3f6f7, 0 -6px 0 #f7f9fa;
  }

  60%, 79.9% {
      box-shadow: 0 -3px 0 #ebeff0;
  }

  80%, 100% {
      box-shadow: none;
  }
}

@keyframes bar2 {
  0%, 19.9% {
      box-shadow: none;
  }

  20%, 39.9% {
      box-shadow: 0 -3px 0 #fff;
  }

  40%, 59.9% {
      box-shadow: 0 -3px 0 #fff, 0 -6px 0 #fff;
  }

  60%, 79.9% {
      box-shadow: 0 -3px 0 #fff, 0 -6px 0 #fff, 0 -9px 0 #fff, 0 -12px 0 #fff;
  }

  80%, 100% {
      box-shadow: 0 -3px 0 #fff, 0 -6px 0 #fff, 0 -9px 0 #fff;
  }
}

@keyframes bar3 {
  0%, 19.9% {
      box-shadow: 0 -3px 0 #fff, 0 -6px 0 #fff;
  }

  20%, 39.9% {
      box-shadow: 0 -3px 0 #fff;
  }

  40%, 59.9% {
      box-shadow: 0 -3px 0 #fff, 0 -6px 0 #fff;
  }

  60%, 79.9% {
      box-shadow: 0 -3px 0 #fff, 0 -6px 0 #fff, 0 -9px 0 #fff;
  }

  80%, 100% {
      box-shadow: 0 -3px 0 #fff, 0 -6px 0 #fff, 0 -9px 0 #fff, 0 -12px 0 #fff;
  }
}

/* Menu list music*/
.header_menu{
  position: absolute;
  right: 12px;
  color: #fff;
  font-size: 24px;
  top: 54px;
  padding: 0px 16px;
  cursor: pointer;
  z-index: 12;
}
.music_overlay{
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:#07070791;
  animation: fadeIn linear 0.3s;
  display: none;
}

.header_menu-input:checked ~ .music_overlay{
  display: block;
}

/*Music navigation*/
.music-nav{
  position: fixed;
  background-color: #1e2021;
  top: 36px;
  z-index: 9;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transform: translateX(92%);
  opacity: 0;
  box-shadow: 2px 3px 16px #c4c4c438;
  transition: transform linear 0.2s, opacity linear 0.2s; 
}

@keyframes fadeIn{
  from {
    opacity: 0 ;
  }
  to{
    opacity: 1;
  }
}

.header_menu-input:checked ~ .music-nav{
  transform: translateX(194%);
  opacity: 1;
}

.music-nav_list{
  list-style: none;
  border-radius: 8px;
  box-shadow: -1px 1px 11px #444343ad;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.music-nav_item {
  padding: 9px 70px;
  color: #fff;
  font-size: 18px;
  border-bottom: 1px solid #a5a5a58c;
  user-select: none;
}
.music-nav_item.active{
  background-color: #ececece3;
  color: #070707;
  cursor: default;
}
.music-nav_item:first-child{
  border-top-right-radius: 30px;
}
.music-nav_item:last-child{
  border-bottom-right-radius: 30px;

}
.music-nav_item:hover {
  background-color: #ececece3;
  color: #070707;
  cursor: pointer;
}
.app_bottom{
  height: 20px;
  width: 100%;
  background-color: #888887c2;
}